.post {
  &-grid-item {
    @include flexbox();
  }

  background-color: $white;
  border-radius: $bd-r;
  padding: $pd-10;

  @include flexbox();
  @include flexflow(column);

  &-user {
    @include flexbox();
    @include flexflow(row);
    @include flex(1 0 auto);

    & > * {
      display: inline-block;
    }

    &__avatar {
      margin-right: 10px;
      border-radius: 50%;
      max-width: 50px;

      img {
        width: 100%;
      }
    }
  }
}